.header {
    display: flex;
    flex-flow: row;
    position: static;
    background: rgba(76, 175, 79, 0);
    z-index: 6;
}

.menuContainer {
    z-index: 6;
}

.headerText {
    color: white;
    font-family: Comfortaa;
    font-size: 18pt;
}
