@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

html, body {
  min-height: 100%;
  margin: 0;
}

.full-height {
  min-height: 200vh;
  overflow-x: hidden;
}

img {
  width: 300px;
  border-radius: 150px;
  border-style: solid;
  border-color: white;
}

#welcome {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#name {
  color: white;
  font-family: Comfortaa;
  font-size: 36px;
  padding-top: 10px;
  z-index: -5;
}

.scale-in-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  -webkit-animation: scale-in-center 1.5s cubic-bezier(0.250,
  0.460, 0.450, 0.940) 1s both;
  animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460,
  0.450, 0.940) 1s both;
}

@-webkit-keyframes scale-in-center {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
}
